html {
  background: url('https://images.unsplash.com/photo-1439694458393-78ecf14da7f9?q=80&fm=jpg&s=643e44f5177366de6cc914c8bcfbe064') no-repeat fixed;
  background-size:100%;
  position:relative;
}

.personalinfo {
  text-decoration:none;
}

table, th, td {
  color: white;
  padding: 20px 135px 0px 135px;
  font-family: Verdana;
  font-size: 20px;
  display: inline-block;
  border-collapse: collapse;
  border-spacing: 100px;
  margin-bottom: 112px;
  table-layout: fixed;
  z-index:1;
}

h1 {
  color: white;
  font-size: 56px;
  font-family: Verdana;
  position: clear;
}

h3 {
  color: white;
  font-family: Verdana;
  position: clear;
  margin-bottom:500px;
}

div {
  color: white;
  font-size:36px;
  background-color: #403837;
  background-size:cover;
}

h2 {
  text-align:center;
  font-size:48px;
  color: white;
}

div > p:nth-child(3) {
  font-family: Cursive;
  font-size:28px;
  padding-left:500px;
}

div > p {
  padding-left:500px;
}




