html {
  background: url('https://images.unsplash.com/photo-1439694458393-78ecf14da7f9?q=80&fm=jpg&s=643e44f5177366de6cc914c8bcfbe064') no-repeat fixed;
  background-size:100%;
  position:relative;
}

.personalinfo {
  text-decoration:none;
}

.personalinfo:hover {
  color: #ffff00;
}

table, th, td {
  display: inline;
  color: white;
  height: 50px;
  width: 130px;
  margin: auto;
  font-family: Verdana;
  font-size: 20px;
  border-collapse: collapse;
  border-spacing: 100px;
  margin-bottom: 112px;
  table-layout: fixed;
  z-index:1;
  border: yellow dashed;
}

h1 {
  color: white;
  font-size: 56px;
  font-family: Verdana;
  position: clear;
}

h3 {
  color: white;
  font-family: Verdana;
  position: clear;
  margin-bottom:500px;
}

div {
  background-color: #555555;
  background-size:cover;
  font-family: Verdana;
}

h2 {
  margin-left: 300px;
  font-size:38px;
  color: orange;
  padding-top: 30px;
  margin-bottom: 1px;
  background-color:#555555;
}

div > p {
  padding-left:56px;
  padding-bottom:0px;
  margin-bottom: 2px;
  margin-top: 3px;
  color: white;
  text-align: center;
    background-color:#555555;
}

#nolinkpls {
  text-decoration: none;
  color: white;
    background-color:#555555;
}

.bigtexthere {
  font-size:28px;
  margin-bottom: 2px;
    background-color:#555555;
}

#cursivefont {
  font-family:Cursive;
    background-color:#555555;
}

#objectivestatement {
  font-size: 20px;
  color: white;
  margin-left: 300px;
  margin-bottom: 30px;
  text-align: left;
  margin-bottom: 60px;
    background-color:#555555;
}





