html {
  background: url('http://www.mrwallpaper.com/wallpapers/Ocean-Wave-Sunset-2560x1440.jpg') no-repeat fixed;
  background-size:cover;
    }

h1 {
  color: white;
  font-size: 56px;
  font-family: Verdana;
}

h3 {
  color: white;
  font-family: Verdana;
}


